{% extends 'gabarit.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% include 'publish.html' with profile=profile %}

            <div class="col-8 col-sm-7">
                <select id="scopeFilter" class="form-control" onchange="filter('s', jQuery(this).val())">
                    <option value="{{ scopes.0.0 }}">{{ scopes.0.1 }}</option>
                    {% for s in scopes|slice:"1:2" %}
                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                    {% endfor %}
                </select>
                <div class="input-group mt-1 mb-1">
                    <input id="userFilter" type="search" class="form-control" placeholder="Search by user"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" onclick="filter('u', jQuery('#userFilter').val())">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
            {% for p in  pubs %}
                {% include 'feed_card.html' with pub=p images=p.get_images.all %}
            {% endfor %}

            <div id="newitem-anchor"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">
        function addValue(elt, value) {
            var el = parseInt(jQuery(elt).text());
            jQuery(elt).text(el + value);
        }

        function filter(k, v) {
            var queryParameters = {}, queryString = location.search.substring(1),
                re = /([^&=]+)=([^&]*)/g, m;
            while (m = re.exec(queryString)) {
                queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
            }
            queryParameters[k] = v;
            location.search = jQuery.param(queryParameters);
        }

        function getFilter(k) {
            var queryParameters = {}, queryString = location.search.substring(1),
                re = /([^&=]+)=([^&]*)/g, m;
            while (m = re.exec(queryString)) {
                queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
            }
            return queryParameters[k];
        }

        // Scroll globals
        var pageNum = {{ page.number }}; // The latest page loaded
        var hasNextPage = {{ page.has_next|lower }}; // Indicates whether to expect another page after this one
        var baseUrl = '{% url 'feed' %}'; // The root for the JSON calls

        // loadOnScroll handler
        var loadOnScroll = function () {
            // If the current scroll position is past out cutoff point...
            if (jQuery(window).scrollTop() > jQuery(document).height() - (jQuery(window).height() * 3)) {
                // temporarily unhook the scroll event watcher so we don't call a bunch of times in a row
                jQuery(window).unbind();
                // execute the load function below that will visit the JSON feed and stuff data into the HTML
                loadItems();
            }
        };

        var loadItems = function () {
            var params = window.location.href.slice(window.location.href.indexOf('?'));
            // If the next page doesn't exist, just quit now
            if (hasNextPage === false) {
                return false
            }
            // Update the page number
            pageNum = pageNum + 1;
            // Configure the url we're about to hit
            var url = baseUrl + "json/" + pageNum + '/' + params;
            jQuery.ajax({
                url: url,
                dataType: 'json',
                success: function (data) {
                    // Update global next page variable
                    hasNextPage = data.hasNext;
                    // Loop through all items
                    jQuery.each(data.itemList, function (index, item) {
                        /* Format the item in our HTML style */
                        let url = "{% url 'feed_element' elt_id="-1" %}".replace("-1", item.id);
                        jQuery.get(url, function (data) {
                            jQuery("#newitem-anchor").before(data.toString());
                        });
                    });
                },
                complete: function (data, textStatus) {
                    // Turn the scroll monitor back on
                    jQuery(window).bind('scroll', loadOnScroll);
                }
            });
        };

        jQuery(document).ready(function () {
            let s = getFilter("s") ? getFilter("s") : "p";
            jQuery("#scopeFilter").val(s);
            jQuery("#userFilter").val(getFilter('u'));
            jQuery(window).bind('scroll', loadOnScroll);
        });
    </script>
{% endblock %}