{% extends 'gabarit.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% include 'publish.html' with profile=profile %}
            <div id="newitem-anchor"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">
        // Scroll globals
        var pageNum = {{ page.number }} - 1; // The latest page loaded
        var hasNextPage = {{ page.has_next|lower }}; // Indicates whether to expect another page after this one
        var baseUrl = '{% url 'feed' %}'; // The root for the JSON calls

        // loadOnScroll handler
        var loadOnScroll = function () {
            // If the current scroll position is past out cutoff point...
            if (jQuery(window).scrollTop() > jQuery(document).height() - (jQuery(window).height() * 3)) {
                // temporarily unhook the scroll event watcher so we don't call a bunch of times in a row
                jQuery(window).unbind();
                // execute the load function below that will visit the JSON feed and stuff data into the HTML
                loadItems();
            }
        };

        var loadItems = function () {
            // If the next page doesn't exist, just quit now
            if (hasNextPage === false) {
                return false
            }
            // Update the page number
            pageNum = pageNum + 1;
            // Configure the url we're about to hit
            var url = baseUrl + "json/" + pageNum + '/';
            jQuery.ajax({
                url: url,
                dataType: 'json',
                success: function (data) {
                    // Update global next page variable
                    hasNextPage = data.hasNext;
                    // Loop through all items
                    jQuery.each(data.itemList, function (index, item) {
                        /* Format the item in our HTML style */
                        let url = "{% url 'feed_element' elt_id="-1" %}".replace("-1", item.id);
                        jQuery.get(url, function (data) {
                            jQuery("#newitem-anchor").before(data.toString());
                        });
                    });
                },
                complete: function (data, textStatus) {
                    // Turn the scroll monitor back on
                    jQuery(window).bind('scroll', loadOnScroll);
                }
            });
        };

        jQuery(document).ready(function () {
            loadItems();
            jQuery(window).bind('scroll', loadOnScroll);
        });
    </script>
{% endblock %}