.cy-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
}

.loader {
    position: absolute;
    display: flex;
    width: 7em;
    height: 7em;
    border: 6px solid transparent;
    border-top-color: #3cefff;
    border-bottom-color: #3cefff;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

.loader:before {
    content: '';
    display: block;
    margin: auto;
    width: 1.5em;
    height: 1.5em;
    border: 6px solid #3cefff;
    border-radius: 50%;
    animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

[data-notify="title"] {
    font-weight: bold;

}