{% extends 'gabarit.html' %}
{% load static %}
{% load gravatar %}
{% block script %}
    {{ block.super }}

    <script src="{% static 'js/init-scripts/data-table/datatables-init.js' %}"></script>
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Utilisateurs</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Email</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th class="text-center">Admin</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for u in users %}
                                    <tr>
                                        <td class="text-center">{% gravatar u.email 35 %}</td>
                                        <td class="align-middle">{{ u.username }}</td>
                                        <td class="align-middle">{{ u.email }}</td>
                                        <td class="align-middle">{{ u.first_name }}</td>
                                        <td class="align-middle">{{ u.last_name }}</td>
                                        <td class="text-center">{% if u.is_staff %}<span class="fa fa-check-square-o"></span>{% else %}<span class="fa fa-square-o"></span>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
{% endblock %}