        body {
            font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
            font-size: 14px;
        }

        #cy {
            position: absolute;
            padding-left: 95px;
            top: 170px;
            bottom: 0;
            right: 0;

            width: 90%;

        }

        h1 {
            opacity: 0.5;
            font-size: 1em;
            font-weight: bold;
        }

        #buttons {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 99999;
        }