body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body.pipeline-result{
    height: 87vh;
    overflow-y: auto;
}

/*
#content {
    height: 90vh;
}*/

#cy {
    height: 500px;
    /*position: absolute;
    top: 16%;
    bottom: 0;
    width: 83.8%;*/
}
/*
@media (max-width: 1024px) {
    #cy {
        position: absolute;
        top: 16%;
        bottom: 0;
        width: 83.8%;
    }
}


@media (max-width: 575.99px) {
    #cy {
        position: absolute;
        padding-left: 0%;
        left: 0;
        top: 215px;
        bottom: 0;
        width: 100%;
    }
}*/


h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
}

#buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999;
}