{% extends 'code_editor.html' %}

{% block content %}
    <div class="col-sm-8">
        {{ block.super }}
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card" id="cart_description">
                    <div class="card-header">
                        Description
                    </div>
                    <div class="card-body text-justify">
                        {{ description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card" id="card_inputs">
                    <div class="card-header">
                        Inputs
                    </div>
                    <div class="card-body">
                        <form id="inputs_form" method="post" action="{{ save_url }}">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ file_name }}" />
                            <input type="hidden" name="type" value="inputs" />
                            {% for i in inputs %}
                                {% include 'input_output_line.html' with o=i in_out_type="inputs" %}
                            {% endfor %}
                            {% if perms.front.change_block %}
                                <div class="btn-group float-right" role="group" aria-label="Inputs Toolbar">
                                    <button id="button-add-input" type="button" class="btn btn-primary">Add</button>
                                    <button type="submit" class="btn btn-success" id="save_inputs">Save</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Outputs
                    </div>
                    <div class="card-body">
                        <form id="outputs_form" method="post" action="{{ save_url }}">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ file_name }}"/>
                            <input type="hidden" name="type" value="outputs"/>
                            {% for o in outputs %}
                                {% include 'input_output_line.html' with o=o in_out_type="outputs" %}
                            {% endfor %}
                            {% if perms.front.change_block %}
                                <div class="btn-group float-right" role="group" aria-label="Outputs Toolbar">
                                    <button id="button-add-output" type="button" class="btn btn-primary">Add</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if perms.front.delete_block %}
        <!-- Modal -->
        <div class="modal fade" id="deleteBlockModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteBlockModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteBlockModalLabel">Supprimer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Êtes vous sûr de vouloir supprimer ce block ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <form method="post" action="{% url 'delete_block' name=file_name %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {% if not perms.front.change_block %}
        <script>
            editor.setReadOnly(true);
        </script>
    {% else %}
        <script>
            jQuery("#button-add-input").click(function () {
                var raw = `{% include 'input_output_line.html' with in_out_type="inputs" %}`;
                var field = jQuery(raw);
                jQuery("#inputs_form").find(".btn-group").before(field);
            });

            jQuery("#button-add-output").click(function () {
                var raw = `{% include 'input_output_line.html' with in_out_type="outputs" %}`;
                var field = jQuery(raw);
                jQuery("#outputs_form").find(".btn-group").before(field);
            });
        </script>
    {% endif %}
{% endblock %}