{% extends 'gabarit.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'list_pipelines' %}">
        <div class="col-xl-3 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-rocket text-success border-success"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">Pipelines</div>
                            <div class="stat-digit">{{ total_pipelines }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="col-xl-3 col-lg-6">
        <a href="{% url 'list_blocks' %}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="fa fa-puzzle-piece text-primary border-primary"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">Blocks</div>
                            <div class="stat-digit">{{ total_blocks }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-lg-6">
        <a href="{% url 'admin_users' %}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-user text-warning border-warning"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">Users</div>
                            <div class="stat-digit">{{ total_users }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-lg-6">
        <a href="{% url 'pipelines_results_list' %}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-save text-danger border-danger"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">Results</div>
                            <div class="stat-digit">{{ total_results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title"><i class="fa fa-edit"></i>&nbsp;Top Pipelines</strong>
            </div>
            <div class="card-body">
                {% for p in top_5_pipelines %}
                    <div class="col-xl-3 col-lg-6">
                        <a href="{% url 'pipeline' name=p.pipeline.name %}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-four">
                                        <div class="stat-icon dib">
                                            <i class="text-success">#{{ forloop.counter }}</i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-heading">{{ p.pipeline.name }}</div>
                                                <div class="stat-text">Total duration
                                                    : {{ p.pipeline.total_duration }}</div>
                                                <div class="stat-text"><i class="fa-thumbs-up fa text-success"
                                                                          style="font-size: 1.33em">: {{ p.score.value }}/{{ p.score.count }}</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    {% comment %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script>
        (function ($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>
    {% endcomment %}
{% endblock %}