{% extends 'gabarit.html' %}
{% load static %}
{% block style %}
    {{ block.super }}

{% endblock %}

{% block content %}


    <div id="buttons">
        <button id="clear">Remove</button>

    </div>
    <div id="cy"></div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'js/Cytoscape/cytoscape.min.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Iodash.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape-edgehandles/cytoscape-edgehandles.js' %}"></script>
    <script src="{% static 'js/Cytoscape/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Cytoscape/style_cytoscape.css' %}">
    {# Placer ici les balise de js #}
{% endblock %}