{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}{% if page %} - {{ page }}{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'images/apple_icon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link href="{% static 'css/bootstrap-tour/bootstrap-tour-standalone.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lightbox/ekko-lightbox.css' %}">

    <link rel="stylesheet" href="{% static 'css/lard.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

{% block body %}
    <body>

    <!-- Left Panel -->

    {% include 'leftpanel.html' %}

    <!-- /#left-panel -->


    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        {# include 'searchbar.html' #}

                        {# include 'notifications.html' #}

                        {# include 'messages.html' #}
                    </div>
                </div>

                {% include 'account_dropdown.html' %}

                {# include 'language.html' #}

            </div>

        </header><!-- /header -->
        <!-- Header-->

        {% comment %}
            <div class="breadcrumbs">
                {% include 'breadcrumbs.html' %}
            </div>
        {% endcomment %}

        <div id="content" class="content mt-3">

            {% include 'alert.html' %}

            {% block content %}
            {% endblock %}

        </div> <!-- .content -->
    </div>
    <!-- /#right-panel -->
    </body>
{% endblock %}

{% block script %}
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'js/lightbox/ekko-lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
        jQuery(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            jQuery(this).ekkoLightbox();
        });
    </script>

    <script type="application/json" id="config">
        {{ config|safe }}

    </script>
    <script type="text/javascript">
        const {hubURL, topic} = JSON.parse(document.getElementById('config').textContent.replace(/'/g, '"'))
        const subscribeURL = new URL(hubURL)
        subscribeURL.searchParams.append('topic', topic)

        const es = new EventSource(subscribeURL, {withCredentials: false})

        es.onmessage = ({data}) => {
            const {type, title, message, url} = JSON.parse(data);
            if (type && title && message && url) {
                jQuery.notify({
                    // options
                    icon: 'glyphicon glyphicon-warning-sign',
                    title: title,
                    message: message,
                    url: url,
                    target: '_blank'
                }, {
                    type: type,
                    delay: type === "success" ? 10000 : 5000
                });
            } else if (type && title && message) {
                jQuery.notify({
                    // options
                    icon: 'glyphicon glyphicon-warning-sign',
                    title: title,
                    message: message
                }, {
                    type: type
                });
            }
        }
    </script>
        <script>
        jQuery(document).ready(function ($) {
            jQuery(".table-row").click(function () {
                window.document.location = jQuery(this).data("href");
            });
        });
    </script>
    <style>
        .table-row {
            cursor: pointer;
        }
    </style>
    {% comment %}
        <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>{% endcomment %}
    <script src="{% static 'js/bootstrap-tour/bootstrap-tour-standalone.js' %}"></script>
    <script src="{% static 'js/tour.js' %}"></script>
{% endblock %}

</html>
