{% extends 'gabarit.html' %}
{% load static %}
{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>{{ name }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="btn-group float-right">
                <a class="btn btn-dark btn-lg" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-caret-down"></i> Add
                </a>
                <button id="runButton" type="button" class="btn btn-success btn-lg"><i class="fa fa-play"></i> Run
                </button>
                <button type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                                        data-target="#deletePipelineModal">Supprimer
                                </button>
            </div>
        </div>
    </div>


    <div class="collapse" id="collapseExample">
        <div class="card" style="width: 100%; z-index: 999">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control" id="type" onchange="selectValue()">
                                {% for b in blocks %}
                                    <option>{{ b }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="col-md-2">
                            <input type="text" class="form-control" id="name"
                                   placeholder="Name">
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <h3>On launch</h3>
                                <div class="col-md-2">
                                    <input type="checkbox" class="form-control" id="onLaunchCreate"
                                           style="height: 100%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button id="create" class="btn btn-success">Create</button>
                        </div>
                        <div class="col-md-1">
                            <button id="close" class="btn btn-danger">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cy"></div>


    <div id="modalDiv"></div>
    <div id="resultModalDiv"></div>

    <!-- Modal -->
    <div class="modal fade" id="deletePipelineModal" tabindex="-1" role="dialog"
         aria-labelledby="deletePipelineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePipelineModalLabel">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes vous sûr de vouloir supprimer ce pipeline ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form action="{% url 'pipeline_delete' name=name %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/Cytoscape/cytoscape.min.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Iodash.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape-edgehandles/cytoscape-edgehandles.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape.js-cxtmenu-master/cytoscape-cxtmenu.js' %}"></script>
    <script src="{% static 'js/Cytoscape/main.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Communication.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Cytoscape/style_cytoscape.css' %}">

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            jQuery.getJSON("{% url 'pipeline_get_cytoscape' name=name %}", function (data) {
                initCytoscape(data);
            });
        });


    </script>

    <script>
        let pipeline_inputs_url = "{% url 'pipeline_empty_inputs' name=name %}";
        document.addEventListener("DOMContentLoaded", function () {

            jQuery("#runButton").click(function () {
                jQuery('#modalDiv').load(pipeline_inputs_url, function (result) {
                    jQuery("#pipelineModal").modal({show: true});

                    jQuery("#loadResultButton").click(function () {
                        var form = jQuery("#loadResultForm");
                        console.log(form);
                        var data = new FormData(form[0]);
                        /*for(var pair of data.entries()) {
                             console.log(pair[0]+', '+pair[1]);
                        }*/
                        jQuery.ajax({
                            url: "{% url 'pipeline_execute' name=name %}",
                            data: data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            method: 'POST',
                            enctype: 'multipart/form-data',
                            type: 'POST', // For jQuery < 1.9
                            success: function (data) {
                                jQuery('#resultModalDiv').html(data);
                                jQuery("#pipelineModal").modal('hide');
                                jQuery('#pipelineResultModal').modal({show: true});
                            }
                        });
                        /*jQuery.post("




                        {% url 'pipeline_execute' name=name %}", jQuery("#loadResultForm").serialize(), function (data) {
                                jQuery('#resultModalDiv').html(data);
                                jQuery("#pipelineModal").modal('hide');
                                jQuery('#pipelineResultModal').modal({show: true});
                            }
                        );*/
                    });
                });
            });

            jQuery("#editButton").click(function () {
                jQuery('#modalDiv').load("edit/test", function (result) {
                    jQuery("#pipelineModal").modal({show: true});

                });
            });

        });
    </script>


    <script>
        jQuery("#close").click(function () {
            jQuery('#collapseExample').collapse('hide');
        });


        let pipelineName = "{{ name }}";
    </script>
{% endblock %}