{% extends 'gabarit.html' %}
{% load static %}
{% block content %}

    <div class="breadcrumbs">
        <div class="row justify-content-between">
            <div class="page-header col-auto">
                <div class="page-title">
                    <h1>{{ name }}</h1>
                </div>
            </div>
            <div class="mt-auto mb-sm-auto">
                <div class="col-auto">
                    <button id="runButton" type="button" class="btn btn-success"><i class="fa fa-play"></i> Run</button>
                    <a href="{% url 'pipeline_export' name=name %}">
                        <button type="button" class="btn btn-primary"
                                {% if not perms.front.view_pipeline %}disabled{% endif %}>Exporter
                        </button>
                    </a>
                </div>
                {% if user == pipeline.owner %}
                    <div class="col-auto mt-1 mt-sm-0" role="toolbar"
                         aria-label="Toolbar with button groups">
                        <div class="btn-group">
                            <a class="btn btn-info text-white mr-1" data-toggle="collapse" href="#collapseExample"
                               role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa fa-caret-down"></i> Add
                            </a>
                            <button type="button" class="btn btn-warning text-white" id="editButton">Editer
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#deletePipelineModal">Supprimer
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="collapse" id="collapseExample">
        <div class="card" style="width: 100%; z-index: 999">
            <div class="card-body">
                <div class="form-inline align-items-center">
                    <select class="form-control mb-2 mr-sm-2" id="type" onchange="selectValue()">
                        {% for b in blocks %}
                            <option value="{{ b }}">{{ b|title }}</option>
                        {% endfor %}
                    </select>

                    <input type="text" class="form-control mb-2 mr-sm-2" id="name"
                           placeholder="Name">
                    <div class="form-check mb-2 mr-sm-2">
                        <input type="checkbox" class="form-check-input" id="onLaunchCreate"/>
                        <label for="onLaunchCreate" class="form-check-label">On launch</label>
                    </div>

                    <button id="create" class="btn btn-success mb-2">Create</button>
                    <button id="close" class="btn btn-danger mb-2 mr-sm-2">Close</button>

                    <select class="form-control mb-2 mr-sm-2" id="pipeline">
                        {% for p in pipelines %}
                            <option value="{{ p }}">{{ p|title }}</option>
                        {% endfor %}
                    </select>

                    <button id="import" class="btn btn-info mb-2">Import pipeline</button>
                </div>
            </div>
        </div>
    </div>

    <div class="cy-wrapper">
        <div id="loader" class="loader"></div>
        <div id="cy"></div>
    </div>
    <div class="fixed-bottom justify-content-end row mr-1 mb-3">
        <div class="col-auto align-self-end">

<div class="menu pmd-floating-action"  role="navigation">
    <button type="button" class="btn btn-danger btn-lg fab rounded-circle pmd-floating-action-btn  pmd-btn-raised pmd-ripple-effect">
        <span class="fa fa-thumbs-down"></span></button>
    <button type="button" class="btn btn-success btn-lg fab rounded-circle pmd-floating-action-btn  pmd-btn-raised pmd-ripple-effect">
        <span class="fa fa-thumbs-up"></span></button>

    <button type="button" class="btn btn-primary btn-lg fab rounded-circle pmd-floating-action-btn">
        <span class="fa fa-plus" ></span></button>
</div>

        </div>
    </div>
    <div id="modalDiv"></div>
    <div id="resultModalDiv"></div>

    <!-- Modal -->
    <div class="modal fade" id="deletePipelineModal" tabindex="-1" role="dialog"
         aria-labelledby="deletePipelineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePipelineModalLabel">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes vous sûr de vouloir supprimer ce pipeline ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form action="{% url 'pipeline_delete' name=name %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/Cytoscape/cytoscape.min.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Iodash.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape-edgehandles/cytoscape-edgehandles.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape.js-cxtmenu-master/cytoscape-cxtmenu.js' %}"></script>
    <script src="{% static 'js/Cytoscape/main.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Communication.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Cytoscape/style_cytoscape.css' %}">

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            jQuery("#loader").fadeIn(0);
            jQuery.getJSON("{% url 'pipeline_get_cytoscape' name=name %}", function (data) {
                initCytoscape(data);
                jQuery("#loader").fadeOut();
            });
        });


    </script>

    <script>
        let pipeline_inputs_url = "{% url 'pipeline_empty_inputs' name=name %}";
        document.addEventListener("DOMContentLoaded", function () {

            jQuery("#runButton").click(function () {
                jQuery('#modalDiv').load(pipeline_inputs_url, function (result) {
                    jQuery("#pipelineModal").modal({show: true});

                    jQuery("#loadResultButton").click(function () {
                        var form = jQuery("#loadResultForm");
                        console.log(form);
                        var data = new FormData(form[0]);
                        /*for(var pair of data.entries()) {
                             console.log(pair[0]+', '+pair[1]);
                        }*/
                        jQuery.notify({
                            // options
                            icon: 'glyphicon glyphicon-warning-sign',
                            title: "Lancement du Pipeline : ",
                            message: "Le Pipeline a commencé son traitement",
                        }, {
                            type: 'info',
                            showProgressbar: true,
                            delay: 5000
                        });
                        jQuery.ajax({
                            url: "{% url 'pipeline_execute' name=name %}",
                            data: data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            method: 'POST',
                            enctype: 'multipart/form-data',
                            type: 'POST', // For jQuery < 1.9
                            /*success: function (data) {
                                jQuery("#loader").fadeOut();
                                jQuery('#resultModalDiv').html(data);
                                jQuery("#pipelineModal").modal('hide');
                                jQuery('#pipelineResultModal').modal({show: true});
                            }*/
                        });
                        jQuery("#pipelineModal").modal('hide');
                    });
                });
            });

            jQuery("#editButton").click(function () {
                jQuery('#modalDiv').load("/pipelines/{{ name }}/info/edit", function (result) {
                    jQuery("#addPiplineModal").modal({show: true});

                });
            });

        });

    </script>

    <script type="application/json" id="pipelineMercureConfig">
        {{ pipeline_mercure_config|safe }}
    </script>

     <script type="text/javascript">
        const {hubURLPipeline, topicPipeline} = JSON.parse(document.getElementById('pipelineMercureConfig').textContent.replace(/'/g, '"'));
        const subscribeURLPipeline = new URL(hubURLPipeline);
        subscribeURLPipeline.searchParams.append('topic', topicPipeline);

        const esPipeline = new EventSource(subscribeURLPipeline, {withCredentials: false})

        esPipeline.onmessage = ({data}) => {
            const {source, target, old_name, new_name, name, failed_nodes} = JSON.parse(data);
            if (source && target) {
                // call draw arrow function here
                highlight(source, target, old_name, new_name);
            }
            else if (name){
                // call for node
                console.log("name " + name);
            }
            else if (failed_nodes) {
                // call for failed nodes
                console.log("Failed " + failed_nodes);
            }
        }
    </script>

    <script>
        jQuery("#close").click(function () {
            jQuery('#collapseExample').collapse('hide');
        });

        let userIsOwner = {% if user == pipeline.owner %}true{% else %}false{% endif %}
        let pipelineName = "{{ name }}";
    </script>

    <style>
        .pmd-floating-action { bottom: 0; position: fixed;  margin:1em;  right: 0; }
        .pmd-floating-action-btn { display:block; position: relative; transition: all .2s ease-out;}
        .pmd-floating-action-btn:last-child:before { font-size: 14px; bottom: 25%;}
        .pmd-floating-action-btn:not(:last-child){ opacity: 0; -ms-transform: translateY(20px) scale(0.3); transform: translateY(20px) scale(0.3); margin-bottom:15px; margin-left:8px; position:absolute; bottom:0;}
        .pmd-floating-action-btn:not(:last-child):nth-last-child(1) { transition-delay: 50ms;}
        .pmd-floating-action-btn:not(:last-child):nth-last-child(2) { transition-delay: 100ms;}
        .pmd-floating-action:hover .pmd-floating-action-btn, .menu--floating--open .pmd-floating-action-btn { opacity: 1; -ms-transform: none; transform: none; position:relative; bottom:auto;}
        .pmd-floating-action:hover .pmd-floating-action-btn:before, .menu--floating--open .pmd-floating-action-btn:before { opacity: 1;}
        .pmd-floating-action-btn.btn:hover{ overflow:visible;}

    </style>


{% endblock %}