<!-- Modal -->
<div class="modal fade" id="pipelineModal" tabindex="-1" role="dialog"
     aria-labelledby="runPipelineModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="runPipelineModalLabel">{{ name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="loadResultForm" method="post" action="{% url 'pipeline_execute' name=name %}">
                {% csrf_token %}
                <div class="modal-body">
                    {% for b in blocks %}
                        {% if b.empty_inputs %}
                            <div class="col">
                                <p>{{ b.name }} :</p>
                                {% for i in b.empty_inputs %}
                                    <div class="form-group row">
                                        <input type="hidden" name="blocks_names" value="{{ b.name }}"/>
                                        <input type="hidden" name="inputs_names" value="{{ i.name }}"/>
                                        <input type="hidden" name="inputs_types" value="{{ i.type }}"/>
                                        <label for="input{{ i.name|title }}" class="col-6">{{ i.name }}[{{ i.type }}]
                                            : </label>
                                        {% if i.type == "string" %}
                                            <input type="text" class="form-control col-6" id="input{{ i.name|title }}"
                                                   value="{{ i.value }}" name="inputs_values"/>
                                        {% elif i.type == "int" or i.type == "float" %}
                                            <input type="number" class="form-control col-6" id="input{{ i.name|title }}"
                                                   value="{{ i.value }}" name="inputs_values"/>
                                        {% elif i.type == "image" %}
                                            <div class="custom-file col-6">
                                                <input type="file" class="custom-file-input"
                                                       id="input{{ i.name|title }}" name="inputs_values"/>
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="loadResultButton" type="button" class="btn btn-success"><i class="fa fa-play"></i>Run</button>
                </div>
            </form>
        </div>
    </div>
</div>