{% extends 'gabarit.html' %}
{% load static %}
{% block script %}
    {{ block.super }}

    <script src="{% static 'js/init-scripts/data-table/datatables-init.js' %}"></script>
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Pipelines</strong>
                            <div class="btn-group float-right">
                                {% if perms.front.add_pipeline and perms.front.change_pipeline %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#importPipelineModal" id="button_import_pipe">Importer
                                    </button>
                                {% endif %}
                                {% if perms.front.add_pipline %}
                                    <button type="button" class="btn btn-primary ml-1" data-toggle="modal"
                                            data-target="#addPipelineModal" id="button_create_pipe">Créer un pipeline
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body" id="card_pipe_list">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Owner</th>
                                    <th class="text-center">Public</th>
                                    <th class="text-right">Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for b in pipelines_list %}
                                    <tr>
                                        <td><a href="{% url 'pipeline' name=b.name %}">{{ b.name }}</a></td>
                                        <td>{{ b.description }}</td>
                                        <td>{{ b.owner }}</td>
                                        <td class="text-center">{% if b.is_public %}
                                            <span class="fa fa-check-square-o"></span>{% else %}
                                            <span class="fa fa-square-o"></span>{% endif %}</td>
                                        <td class="text-right">{{ b.score }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    {% if perms.front.add_pipeline %}
        {% include 'pipeline_edit_info_modal.html' %}
    {% endif %}
    {% if perms.front.add_pipeline and perms.front.change_pipeline %}
        {% include 'pipeline_import_modal.html' %}
    {% endif %}
{% endblock %}