{% extends 'gabarit.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-10">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>{{ name }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="btn-group float-right">
                <a class="btn btn-dark btn-lg" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-caret-down"></i> Add
                </a>
            </div>
            <div class="btn-group float-right">
                <button id="runButton" type="button" class="btn btn-success btn-lg"><i class="fa fa-play"></i> Run
                </button>

            </div>
        </div>
    </div>


    <div class="collapse" id="collapseExample">
        <div class="card" style="width: 100%; z-index: 999">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control" id="type">
                                {% for b in blocs %}
                                    <option>{{ b }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-mb-2">
                            <input type="text" class="form-control" id="name"
                                   placeholder="name">
                        </div>
                        <div class="col-md-1">
                            <button id="create" class="btn btn-success">Create</button>
                        </div>
                        <div class="col-md-1">
                            <button id="close" class="btn btn-danger">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="cy"></div>


    <div id="modalDiv"></div>
    <div id="resultModalDiv"></div>

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/Cytoscape/cytoscape.min.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Iodash.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape-edgehandles/cytoscape-edgehandles.js' %}"></script>
    <script src="{% static 'js/Cytoscape/cytoscape.js-cxtmenu-master/cytoscape-cxtmenu.js' %}"></script>
    <script src="{% static 'js/Cytoscape/main.js' %}"></script>
    <script src="{% static 'js/Cytoscape/Communication.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Cytoscape/style_cytoscape.css' %}">

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            jQuery.getJSON("{% url 'pipeline_get_cytoscape' name=name %}", function (data) {
                console.log(data);
                initCytoscape(data);
            });

        });
        jQuery("#close").click(function () {
            jQuery('#collapseExample').collapse('hide');
        });

    </script>

    <script>
        let pipeline_inputs_url = "{% url 'pipeline_empty_inputs' name=name %}";

        document.addEventListener("DOMContentLoaded", function () {

            jQuery("#runButton").click(function () {
                jQuery('#modalDiv').load(pipeline_inputs_url, function (result) {
                    jQuery("#pipelineModal").modal({show: true});

                    jQuery("#loadResultButton").click(function () {
                        jQuery.post("{% url 'pipeline_execute' name=name %}", jQuery("#loadResultForm").serialize(), function (data) {
                                jQuery('#resultModalDiv').html(data);
                                jQuery("#pipelineModal").modal('hide');
                                jQuery('#pipelineResultModal').modal({show: true});
                            }
                        );
                    });
                });
            });
        });
    </script>


    <script>

    </script>
{% endblock %}