<!-- Modal -->
<div class="modal fade" id="pipelineModal" tabindex="-1" role="dialog"
     aria-labelledby="runPipelineModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="runPipelineModalLabel">Edit : {{ block.name }} ({{ block.type }})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    {% for name, type in block.inputs.items %}
                        <div class="form-group row">
                            <label for="input{{ name|title }}" class="col-6">{{ name }}[{{ type }}]
                                : </label>
                            {% if type == "string" %}
                                <input type="text" class="form-control col-6" id="input{{ name|title }}"
                                       value="{{ block.data|get_item:name }}" name="{{ block.name }}"
                                       input-name="{{ name }}"/>
                            {% elif type == "int" or type == "float" %}
                                <input type="number" class="form-control col-6" id="input{{ name|title }}"
                                       value="{{ block.data|get_item:name }}" name="{{ block.name }}"
                                       input-name="{{ name }}"/>
                            {% elif i.type == "image" %}
                                <div class="custom-file col-6">
                                    <input type="file" class="custom-file-input"
                                           id="input{{ name|title }}" name="{{ block.name }}" input-name="{{ name }}"/>
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            {% else %}
                                <input type="text" class="form-control col-6" id="input{{ name|title }}"
                                       value="{{ block.data|get_item:name }}" name="{{ block.name }}"
                                       input-name="{{ name }}"/>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <hr>

                    <div class="row">
                        <label class="col-6">On launch : </label>
                        <label class="switch switch-3d switch-primary mr-3">
                            <input type="checkbox" class="form-control switch-input col-6" id="launch"
                                    {% if block.on_launch %}
                                   checked{% endif %} style="height: 20px">
                            <span class="switch-label"></span> <span class="switch-handle"></span></label>
                    </div>


                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="validerButton" type="button" class="btn btn-success" data-dismiss="modal"><i
                        class="fa fa-check"></i> Valider
                </button>
            </div>

        </div>
    </div>
</div>

<script>
    jQuery("#validerButton").click(function () {
        var inputs = {};
        jQuery("input[name='{{ block.name }}']").each(function () {
            inputs[jQuery(this).attr('input-name')] = jQuery(this).val();

        });

        edit(cy, ["{{ block_id }}", inputs, document.getElementById('launch').checked]);
    });

</script>